<div class="d-flex justify-content-between align-items-center">
  <select
    name="state"
    class={{if @selectedState "has-filters-applied" "no-filters-applied"}}
    data-test-id="select-state-dropdown"
    {{on "change" @selectState}}
  >
    {{#each @usStates as |state|}}        
      <option value={{state.abbreviation}}>{{state.name}}</option>      
    {{/each}} 
  </select>

  <p>Total Count: {{@meta.totalCount}}</p>
</div>

{{#if @filers.length}}
  <table class="standard-table">
    <thead>
      <tr>
        <th>EIN</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each @filers as |filer|}}
        <tr>
          <td data-test-id="filter-ein">{{filer.attributes.ein}}</td>
          <td data-test-id="filter-name">{{filer.attributes.name}}</td>
          <td data-test-id="filter-address">{{filer.attributes.address}}</td>
          <td data-test-id="filter-city">{{filer.attributes.city}}</td>
          <td data-test-id="filter-state">{{filer.attributes.state}}</td>
          <td data-test-id="filter-postal-code">{{filer.attributes.postal_code}}</td>
          <td data-test-id="filter-actions">
            <BsButton
              data-test-id="view-filer"
              {{on "click" (fn @selectFiler filer)}}
            >
              View
            </BsButton>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  No filers available.
{{/if}}

{{#if @selectedFiler}}
  <TableFilerPanel
    @filer={{@selectedFiler}}
    @closePanel={{@closePanel}}
  />
{{/if}}