<div class="d-flex justify-content-between align-items-center">
  <select
    name="state"
    class={{if @selectedState "has-filters-applied" "no-filters-applied"}}
    {{on "change" @selectState}}
  >
    {{#each @usStates as |state|}}        
      <option value={{state.abbreviation}}>{{state.name}}</option>      
    {{/each}} 
  </select>

  <p>Total Count: {{@meta.totalCount}}</p>
</div>

{{#if @receivers.length}}
  <table class="standard-table">
    <thead>
      <tr>
        <th>EIN</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Awards Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each @receivers as |receiver|}}
        <tr>
          <td data-test-id="filter-ein">{{receiver.attributes.ein}}</td>
          <td data-test-id="filter-name">{{receiver.attributes.name}}</td>
          <td data-test-id="filter-address">{{receiver.attributes.address}}</td>
          <td data-test-id="filter-city">{{receiver.attributes.city}}</td>
          <td data-test-id="filter-state">{{receiver.attributes.state}}</td>
          <td data-test-id="filter-postal-code">{{receiver.attributes.postal_code}}</td>
          <td data-test-id="filter-awards-count">{{receiver.included.length}}</td>
          <td data-test-id="filter-actions">
            <BsButton
              data-test-id="view-receiver"
              {{on "click" (fn @selectReceiver receiver)}}
            >
              View
            </BsButton>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  No receivers available.
{{/if}}

{{#if @selectedReceiver}}
  <TableReceiverPanel
    @receiver={{@selectedReceiver}}
    @closePanel={{@closePanel}}
  />
{{/if}}